# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Entornos virtuales
venv/
env/
.venv/

# Archivos de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Directorios de carga
uploads/
static/

# Archivos de configuración local
config_local.py